In [1]:
import pandas as pd
from modulku import praproses as pps, StemNstopW as stm
from replace import normalisasi as nrm

In [2]:
data = pd.read_excel("komentar/gojek_twitter_dataset.xlsx")
komentar = data.tweet.tolist()
label = data.sentimen.tolist()
data.head()

,Unnamed: 0,Unnamed: 1,sentimen,tweet
0,10,3205,0,http://beritatrans.com/2019/08/29/2-september...
1,55,3612,0,https://kabarcnn.com/mahasiswa-papua-dirikan/...
2,59,1880,0,https://kitabisa.com/campaign/paksidikÂ â€¦
3,19,3920,0,https://twitter.com/hattajusman/status/116670...
4,44,3923,0,https://twitter.com/hattajusman/status/116670...

In [3]:
data_bersih = list()
label_data_bersih = list()
lama = list()
for ix, i in enumerate(komentar):
    if type(i) is float:
        i = str(i)
    i = pps.preprocessing(i)
    i = nrm.normalisasi(i)
    i = stm.stemmer_kata(i)
    i = stm.stop_word(i)
    
    if len(i)>3:
        data_bersih.append(i)
        label_data_bersih.append(label[ix])
        lama.append(komentar[ix])
    if (ix+1)%100==0:
        print(ix+1)
    else:
        print('.', end='')

...................................................................................................100
...................................................................................................200
...................................................................................................300
...................................................................................................400
...................................................................................................500
...................................................................................................600
...................................................................................................700
...................................................................................................800
...................................................................................................900
...................................................................................................1000
...................................................................................................1100
...................................................................................................1200
...................................................................................................1300
...................................................................................................1400
...................................................................................................1500
...................................................................................................1600
...................................................................................................1700
...................................................................................................1800
...................................................................................................1900
...................................................................................................2000
...................................................................................................2100
...................................................................................................2200
...................................................................................................2300
...................................................................................................2400
...................................................................................................2500
...................................................................................................2600
...................................................................................................2700
...................................................................................................2800
...................................................................................................2900
...................................................................................................3000
...................................................................................................3100
...................................................................................................3200
...................................................................................................3300
...................................................................................................3400
...................................................................................................3500
...................................................................................................3600
...................................................................................................3700
...................................................................................................3800
...................................................................................................3900
...................................................................................................4000

In [6]:
dictt = {
#     "nomer":data.Column1.tolist(),
    'label':label_data_bersih,
    'komentar':data_bersih, 
    'komentar_lama':lama
}
df = pd.DataFrame.from_dict(dictt)
df.to_excel('komentar/data_clean_goejk.xlsx')

In [7]:
df

,label,komentar,komentar_lama
0,0,min mau tanya apa go tix batas waktu bayar mal...,"min saya mau tanya,apa go tix tidak ada batas..."
1,0,ngapain kamu naik motor 2an suami plot twist s...,"""Ngapain kamu naik motor berdua2an suami saya?..."
2,0,nge blank i think y,"""Nge-blank"", i think? ðŸ˜…"
3,0,ooh kirabmenteng deket bxc,"""ooh saya kirabmenteng yang deket bxc"""
4,0,siap teman makan siang mu tak perlu anjak meja...,#asinansayurdanrujakjuhi siap temani makan sia...
...,...,...,...
3205,0,yuk firalkan biar makin pacu buat baik tuju in...,"yuk firalkan, biar semakin memacu kita untuk b..."
3206,1,yukk bantu bapaknyaa,Yukkk bantu bapaknyaa!
3207,1,yukk semangat decacorn yayaya a,Yukkk semangat Decacorn @gojekindonesia @tokop...
3208,1,yummeereh gin 40k aja thank you,yummeeereh segini 40k aja thank you @gojekindo...
3209,1,yuuhuu mission completed nih moga masuk orang ...,yuuhuuuu..\nMission completed nih @gojekindone...